---
layout: default
title: Dave Cranwell, Front End rambler, Jack of all trades master of many
---

<article class="post">
    {% for post in site.posts limit:1 %}
        <h1>{{ post.title }}</h1>
        {{ post.content }}
    {% endfor %}
</article>

{% for post in site.posts limit:1 offset:1 %}
     <nav role="navigation" class="nav-prevnext">
        <ul class="cf">
            <li class="newer">&nbsp;</li>
            <li class="older">
                <a href="{{ post.previous.url }}">Older post</a>
            </li>
        </ul>
    </nav>
{% endfor %}