html{
	font-size:18px;
}
body{
	font-family: 'PT Sans', Helvetica,Arial,sans-serif;
	padding:1em;
	line-height:1.7em;
	color:#444;
	-webkit-transition: padding 0.3s ease;
	-moz-transition: padding 0.3s ease;
	-ms-transition: padding 0.3s ease;
	-o-transition: padding 0.3s ease;
	transition: padding 0.3s ease;
}
h1,h2,h3,h4,h5{
	font-family: 'Bree Serif', Georgia, serif;
	color:#333;
	margin-top:0;
}
h1{
	font-size:1.4em;
	line-height:1.3em;
}
h2{
	font-size:1.3em;
}
h2, h3{
	line-height:1.6em;
}

blockquote{
	background:#FDF6DD;
	padding:2em;
	width:80%;
	margin: 0px auto 15px auto;
	font-size:1.1em;
}
	blockquote p{
		margin-bottom:0;
		padding-bottom:15px;
	}

nav ul,nav li{
	margin:0;
	padding:0;
	list-style-type:none;
}

a, a:visited, a:active{
	text-decoration:none;
	color:#2E959F;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
	a:hover{
		color:#435A5E;
	}
	.post a{
		text-decoration:underline;
	}

code{
	background-color:#f8f8f8;	
	font-family:monospace;
	border:0;
	white-space: nowrap;
}
	code{
		padding:0.2em;
		border: 1px solid rgba(0, 0, 0, 0.1);
	}

pre code{
	display:block;
	padding-left:1em;
	padding-right:1em;
	white-space:pre-wrap;
}

.wrapper{
	margin:0 auto;
	max-width:64em;
}

header{
	position:relative;
	margin-bottom:1em;
}

#stripe{
	position:absolute;
	left:0; top:0; 
	width:100%; 
	height:3px;
}

a.logo{
	font-family:'Bree Serif', Georgia, serif;
	font-size:1.25em;
	color:#444;
	width:10em;
	line-height:1em;
	padding-top:1em;
	display:block;
	float:left;
}
	.logo img{
		margin-top:-1em;
		margin-right:1em;
		padding:0.7em;
		width:2.8em;
		height:2.8em;
		background-color:black;
		float:left;
	}

.nav-main{
	padding-left:0;
}
	.nav-main li{
		border-top:1px solid #dfdfdf;
		padding:0.5em 0;
	}
	.nav-main h2{
		font-size:1em;
	}
	.nav-main h3{
		margin:0;
		font-size:1em;
		font-family: 'PT Sans', Helvetica,Arial,sans-serif;
	}

.nav-prevnext{
	margin:2em 0;
	border-top:1px solid #dfdfdf;
}
	nav .newer, nav .older{
		float:left;
		width:50%;
	}
	nav .newer a, nav .older a{
		border:1px solid #dfdfdf;
		padding:0.5em 1em;
		line-height:2.2em;
	}
	nav .newer a:hover, nav .older a:hover{
		background-color:#2E959F;
		color:white;
	}
	nav .older{
		text-align:right;
	}

.nav-networks{
	margin-top:0em;
	float:right;
	width:20%;
}
.nav-networks li{
	text-align:right;
}
.nav-networks h2{
	display:none;
}
.nav-networks a{
	color:#444;
	font-size:0.8em;
}
.nav-networks a:hover{
	text-decoration:underline;
}

.cf:before,
.cf:after {
    content: " ";
    display: table;
}
.cf:after {
    clear: both;
}

@media screen and (min-width:50em){
	body{
		padding:2em;
	}
	header{
		margin-bottom:2em;
	}
	h1{
		font-size:2em;
	}
	h2{
		font-size:1.6em;
	}
	.nav-main, .main{
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
		display:inline;
		float:left;
		padding:0 2em;
	}

	.nav-main{
		padding-left:0;
		padding-top:1.6em;
		width:30%;
	}
	.main{
		float:right;
		width:70%;
	}

}
@media screen and (min-width:56.889em){
	.nav-main{
		width:25%;
	}
	.main{
		width:75%;
	}
}
