<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{% if page.path == "index.html" %}Dave Cranwell | {{ page.title }}{% else %}{{ page.title }} | Dave Cranwell{% endif %}</title>
    <meta name="description" content="{{ page.description }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
    <meta property="og:title" content='{% if page.path == "index.html" %}Dave Cranwell | {{ page.title }}{% else %}{{ page.title }} | Dave Cranwell{% endif %}' />
    <meta property="og:description" content="{{ page.description }}" />
    {% capture words %}
        {{ page.content | number_of_words | minus: 180 }}
    {% endcapture %}

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@davecranwell" />
    <meta name="twitter:title" content='{% if page.path == "index.html" %}Dave Cranwell | {{ page.title }}{% else %}{{ page.title }} | Dave Cranwell{% endif %}' />
    <meta name="twitter:description" content="{{ page.description }}" />
    <meta property="twitter:label1" value="Reading time" />
    {% unless words contains '-' %}
        <meta property="twitter:data1" value="{{ words | plus: 180 | divided_by: 180 | append: ' minutes to read' }}" />
    {% endunless %}
    <link rel="author" href="https://plus.google.com/+DaveCranwell/">
    
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Sans:400,700|Bree+Serif" />
    <link rel="stylesheet" href="/assets/css/normalize.css" />
    <link rel="stylesheet" href="/assets/css/syntax.css" />
    <link rel="stylesheet" href="/assets/css/main.css" />
    
    <script src="/assets/js/vendor/modernizr-2.6.2.min.js"></script>
</head>
<body class="{% if page.image or page.path == "index.html" and site.posts.first.image %}has-image{% endif %}">
    <!--[if lt IE 9]><p>Woah your browser is ancient! This site won't work as expected without a decent browser, sorry. Please upgrade to gain a better experience of practically the entire internet.</p><![endif]-->
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=689655397735094";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <svg id="stripe" viewBox="0 0 500 5" version="1.1" x="0px" y="0px"
    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" preserveAspectRatio="none">
        <g>
            <path d="M 0 0 L 100 0 L 100 10 L 0 10 Z" fill="#6E554A" id="stripe-0" />
            <path d="M 100 0 L 200 0 L 200 10 L 100 10 Z" fill="#CC333F" id="stripe-1" />
            <path d="M 200 0 L 300 0 L 300 10 L 200 10 Z" fill="#D7BA5A" id="stripe-2" />
            <path d="M 300 0 L 400 0 L 400 10 L 300 10 Z" fill="#2E959F" id="stripe-3" />
            <path d="M 400 0 L 500 0 L 500 10 L 400 10 Z" fill="#a5cb33" id="stripe-4" />
        </g>
    </svg>

    <div class="main-image">
        {% if page.image %}
            <img src="/post-images/{{ page.image }}" />
        {% else %}
            {% for post in site.posts limit:1 %}
                {% if forloop.index == 1 and page.path == "index.html" %}
                    {% if post.image %}<img src="/post-images/{{ post.image }}" />{% endif %}
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
    
    <div class="wrapper">
        <header class="cf" role="banner">
            <a id="logo" class="logo" href="/">
                <svg id="dc-logo" viewBox="0 0 325 191" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve">
                    <g id="background">
                        <path d="M 45 0 L 45 191 L 0 191 L 0 0 L 45 0 Z" fill="#ffffff" id="bd-left" />
                        <path d="M 0 149 L 156 149 L 156 155 L 120 191 L 0 191 L 0 149 Z" fill="#ffffff" id="bd-bottom" />
                        <path d="M 111 0 L 121 0 L 156 35 L 156 155 L 120 191 L 111 191 L 111 0 Z" fill="#ffffff" id="bd-right" />
                        <path d="M 0 44 L 44 44 L 111 44 L 156 44 L 156 35 L 121 0 L 0 0 L 0 45 Z" fill="#ffffff" id="bd-top" />
                        <path d="M 325 0 L 325 44 L 214 44 L 170 44 L 170 35 L 205 0 L 325 0 Z" fill="#ffffff" id="bc-top" />
                        <path d="M 215 0 L 215 191 L 206 191 L 170 155 L 170 35 L 205 0 L 215 0 Z" fill="#ffffff" id="bc-left" />
                        <path d="M 170 149 L 325 149 L 325 191 L 205 191 L 170 156 L 170 149 Z" fill="#ffffff" id="bc-bottom" />
                    </g>
                    <g id="foreground">
                        <path opacity="0.8" d="M 45 0 L 45 191 L 0 191 L 0 0 L 45 0 Z" fill="#6E554A" id="d-left" />
                        <path opacity="0.8" d="M 0 149 L 156 149 L 156 155 L 120 191 L 0 191 L 0 149 Z" fill="#CC333F" id="d-bottom" />
                        <path opacity="0.8" d="M 111 0 L 121 0 L 156 35 L 156 155 L 120 191 L 111 191 L 111 0 Z" fill="#D7BA5A" id="d-right" />
                        <path opacity="0.8" d="M 0 44 L 44 44 L 111 44 L 156 44 L 156 35 L 121 0 L 0 0 L 0 45 Z" fill="#2E959F" id="d-top" />
                        <path opacity="0.8" d="M 325 0 L 325 44 L 214 44 L 170 44 L 170 35 L 205 0 L 325 0 Z" fill="#CC333F" id="c-top" />
                        <path opacity="0.8" d="M 215 0 L 215 191 L 206 191 L 170 155 L 170 35 L 205 0 L 215 0 Z" fill="#D66D4E" id="c-left" />
                        <path opacity="0.8" d="M 170 149 L 325 149 L 325 191 L 205 191 L 170 156 L 170 149 Z" fill="#a5cb33" id="c-bottom" />
                    </g>
                </svg>
                Dave Cranwell
            </a>
 
            <nav class="nav-networks" role="navigation" aria-label="Networks">
                <h2 aria-hidden="true">Networks</h2>
                <ul>
                    <li><a href="http://twitter.com/davecranwell">Twitter</a></li>
                    <li><a href="http://github.com/davecranwell">Github</a></li>
                    <li><a href="http://www.linkedin.com/in/davecranwell">Linkedin</a></li>
<li><a rel="me" href="https://mastodon.online/@davecranwell">Mastodon</a></li>
                </ul>
            </nav>
        </header>

        <div class="site cf">
            <div role="main" class="main">
                {{ content }}

                {% if page.next.url or post.next.url or page.previous.url or post.previous.url %}
                    <nav role="navigation" class="nav-prevnext" aria-label="Newer or Older posts">
                        <ul class="cf">
                            <li class="newer">
                                {% if page.next.url or post.next.url %} 
                                    <a href="{{ page.next.url }}{{ post.next.url }}">Newer post</a>
                                {% else %}
                                    &nbsp;
                                {% endif %}
                            </li>
                            <li class="older">
                                {% if page.previous.url or post.previous.url %} 
                                    <a href="{{ page.previous.url }}{{ post.previous.url }}">Older post</a>
                                {% else %}
                                    &nbsp;
                                {% endif %}
                            </li>
                        </ul>
                    </nav>
                {% endif %}
            </div>

            <nav role="navigation" class="nav-main" aria-label="Recent posts">
                <h2 aria-hidden="true">Recent posts</h2>
                <ul class="posts">
                    {% for post in site.posts limit:10 %}
                        <li><h3><a href="{{ post.url }}">{{ post.title }}</a></h3></li>
                    {% endfor %}
                </ul>
            </nav>
        </div>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="/assets/js/vendor/snap.svg-min.js"></script>
    <script src="/assets/js/main.js"></script>
    <script>
        (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
        function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
        ga('create','UA-435939-4');ga('send','pageview');
    </script>
</body>
</html>
